.button {
  display: inline-block;

  padding: 4px 12px;

  font-family: "Open Sans", sans-serif;
  font-size: 12px;

  border: 2px solid blue;
  border-radius: 100px;
  color: blue;
  background-color: white;
}

.button:hover {
  color: white;
  background-color: blue;
}

.button:active {
  color: white;
  background-color: darkblue;
}

.button:focus {
  color: white;
  background-color: lightblue;
}

.button[disabled] {
  pointer-events: none;

  opacity: 0.5;
}
