.button {
  display: inline-block;
  padding: var(--feedback-ctrl-padding-vertical)
    var(--feedback-ctrl-padding-horizontal);
  font-family: 'Open Sans', sans-serif;
  font-size: var(--feedback-ctrl-font-size);
  border: var(--feedback-ctrl-border-width) solid blue;
  border-radius: 100px;
  color: blue;
  background-color: white;
}

.button:hover {
  color: white;
  background-color: blue;
}

.button:active {
  color: white;
  background-color: darkblue;
}

.button:focus {
  color: white;
  background-color: lightblue;
}

.button[disabled] {
  pointer-events: none;
  opacity: 0.5;
}
