.tab-toggle {
  display: inline-block;
  min-width: 50px;
  height: 24px;
  background: none;
  border: none;
}

.tab-toggle_active {
  border-bottom: 2px solid lightcoral;
}

.tab-toggle:focus {
  background-color: rgba(135, 0, 0, 0.1);
  outline: none;
}
