.tab__content {
  display: block;
}

.tab__content_hidden {
  display: none;
}

.tab__toggle {
  display: inline-block;
  min-width: 50px;
  height: 24px;
  background: none;
  border: none;
}

.tab__toggle_active {
  border-bottom: 2px solid lightcoral;
}
